<header>
<h1><span>Proway</span> <span>Computer</span></h1>
<nav>
  <ul>
    <li>
      <a>Produtos</a>
    </li>
    <!--(li>a)*5  => Codigo para criar varios links-->
    <li>
      <a>
        Carrinho
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>
    <li><a>Contato</a></li>
    <li>
      <a><i class="fa-brands fa-facebook-f"></i></a>
    </li>
    <li>
      <a><i class="fa-brands fa-instagram"></i></a>
    </li>
    <li>
      <a><i class="fa-brands fa-github"></i></a>
    </li>
    <li>
      <a><i class="fa-brands fa-linkedin-in"></i></a>
    </li>
  </ul>
</nav>
</header>
